*.lo
*.o
.deps
.dirstamp
.libs
/*.bak
/*.gcda
/*.gcno
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/RpmOstree-1.0.gir
/RpmOstree-1.0.typelib
/TAGS
/aclocal.m4
/autom4te.cache
/build-aux/
/config.cache
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/configure
/configure.lineno
/dbus-run-session
/gtk-doc.make
/libglnx.la
/librpmostree-1.la
/librpmostreed.la
/librpmostreepriv.la
/libtool
/rpm-ostree
/rpm-ostree.1
/rpm-ostreed
/rpm-ostreed-generated-org.projectatomic.rpmostree1.OS.xml
/rpm-ostreed-generated-org.projectatomic.rpmostree1.Sysroot.xml
/rpm-ostreed-generated-org.projectatomic.rpmostree1.Transaction.xml
/rpm-ostreed-generated.c
/rpm-ostreed-generated.h
/so_locations
/src/daemon/org.projectatomic.rpmostree1.service
/src/daemon/rpm-ostreed.service
/src/lib/rpm-ostree-1.pc
/stamp-h1
/tags
/test-suite.log
/tests/compose/test-repo-local.repo
/tests/compose/test-repo.repo
/tests/compose/yum/empty
/tests/compose/yum/empty-1.0-1.src.rpm
/tests/compose/yum/repodata/*.bz2
/tests/compose/yum/repodata/3d1eab7b43ca776ea1c6003925f7f8c8c03762bb65752f8e4a1bdc9af3f0eb8e-primary.xml.gz
/tests/compose/yum/repodata/72300e78e6937f5d6b661633f4209b32c0991078fa42c7fb513a8b461d9c80da-filelists.xml.gz
/tests/compose/yum/repodata/c809bb30c6f1bc814ef8867577973e44650e8a7d2cb03aa44975c3c68a3aff41-other.xml.gz
/tests/compose/yum/repodata/repomd.xml
/tests/jsonutil
/tests/jsonutil.log
/tests/jsonutil.test
/tests/jsonutil.trs
/tests/setup-session.sh
/tests/test-basic.sh.test
/tests/test-compose-no-selinux-tag.sh.test
/tests/test-compose.sh.test
/tests/test-ucontainer.sh.log
/tests/test-ucontainer.sh.test
/tests/test-ucontainer.sh.trs
_libs
