*.lo
*.o
.deps
.dirstamp
.libs
/*.bak
/*.gcda
/*.gcno
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]

# From coreos-assembler
/.cosa/
/_kola_temp/

# From compose tests
/compose-cache/
/compose-logs/

# From vmcheck tests
/vmcheck-logs/
/ssh-config

# From build system itself
/.dirstamp
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/RpmOstree-1.0.gir
/RpmOstree-1.0.typelib
/TAGS
/aclocal.m4
/api-doc/Makefile
/api-doc/Makefile.in
/autom4te.cache
/build-aux/
/config.cache
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/configure
/configure.lineno
/gtk-doc.make
/insttree/
/libglnx.la
/librpmostree-1.la
/librpmostreecxxrs.la
/librpmostreeinternals.la
/libtool
/rpm-ostree
/rpm-ostree-countme.service.8
/rpm-ostree-countme.timer.8
/rpm-ostree.1
/rpm-ostreed
/rpm-ostreed-automatic.service.8
/rpm-ostreed-automatic.timer.8
/rpm-ostreed-generated-org.projectatomic.rpmostree1.OS.xml
/rpm-ostreed-generated-org.projectatomic.rpmostree1.OSExperimental.xml
/rpm-ostreed-generated-org.projectatomic.rpmostree1.Sysroot.xml
/rpm-ostreed-generated-org.projectatomic.rpmostree1.Transaction.xml
/rpm-ostreed-generated.c
/rpm-ostreed-generated.h
/rpm-ostreed.conf.5
/rpmostree-cxxrs.cxx
/rpmostree-cxxrs.h
/rust/cxx.h
/so_locations
/src/daemon/org.projectatomic.rpmostree1.service
/src/daemon/rpm-ostree-bootstatus.service
/src/daemon/rpm-ostree-countme.service
/src/daemon/rpm-ostreed-automatic.service
/src/daemon/rpm-ostreed.service
/src/lib/rpm-ostree-1.pc
/src/lib/rpmostree-version.h
/stamp-h1
/tags
/target/
/test-libglnx-errors
/test-libglnx-errors.log
/test-libglnx-errors.test
/test-libglnx-errors.trs
/test-libglnx-fdio
/test-libglnx-fdio.log
/test-libglnx-fdio.test
/test-libglnx-fdio.trs
/test-libglnx-macros
/test-libglnx-macros.log
/test-libglnx-macros.test
/test-libglnx-macros.trs
/test-libglnx-shutil
/test-libglnx-shutil.log
/test-libglnx-shutil.test
/test-libglnx-shutil.trs
/test-libglnx-xattrs
/test-libglnx-xattrs.log
/test-libglnx-xattrs.test
/test-libglnx-xattrs.trs
/test-suite.log
/tests/check/test-lib-introspection.sh.log
/tests/check/test-lib-introspection.sh.test
/tests/check/test-lib-introspection.sh.trs
_libs
