<article>
  <h1>fedostree</h1>
  <p>An instance
    of <a href="https://github.com/cgwalters/rpm-ostree">rpm-ostree</a>
    for Fedora.  This project takes multiple RPM package sets from
    Fedora, assembles them on the build server side, and stores these
    trees in
    an <a href="http://live.gnome.org/Projects/OSTree">OSTree</a>
    repository.  Client systems can them atomically upgrade and switch
    between these trees.
  </p>
  <p>
    <ul>
      <li><a href="#installation">Installation</a></li>
      <li><a href="#background">Background and Goals</a></li>
      <li><a href="#implementation">Implementation</a></li>
    </ul>
  </p>
  <h3>Current build status</h3>
  <div ng-repeat="(ref, treedata) in trees">
    <div>
      <div>Name: {{ ref }}</div>
      <div>Description: {{ treedata.comment }}</div>
      <div>Packages: {{ treedata.packages }}</div>
      <div><a href="{{ treedata.screenshotUrl }}"><img src="{{ treedata.screenshotUrl }}" width="160" height="120"></img></div>
    </div>
  </div>
</article>
