<article>
  <h1>Fedora Atomic Initiative</h1>
  <p>The goal of this initiative is to accelerate development and
    increase reliability of a subset of the packages in Fedora, using
    <a href="http://live.gnome.org/Projects/OSTree">OSTree</a>, and
    more specifically the
    <a href="https://github.com/cgwalters/rpm-ostree">rpm-ostree</a>
    integration project.
  </p>
  <p>OSTree is a new basis for operating system <i>deployment</i> - it
     offers fully atomic upgrades, and reliable replication of known
     state.  Using rpm-ostree, (mostly) unmodified existing packages
     can be placed into an OSTree repository.
  </p>
  <p>
    <ul>
      <li><a href="#installation">Installation</a></li>
      <li><a href="#background">Background and Goals</a></li>
      <li><a href="#implementation">Implementation</a></li>
    </ul>
  </p>
  <h3>Current build status</h3>
  <p>The contents of these trees is defined by
  the <a href="https://github.com/cgwalters/rpm-ostree/blob/master/fedostree/products.json">products.json</a>
  file.</p>
  <div ng-repeat="(ref, treedata) in trees">
    <div>
      <div>Name: {{ ref }}</div>
      <div>Description: {{ treedata.comment }}</div>
      <div>Packages: {{ treedata.packages }}</div>
      <div>VM Image: <a href="images/auto/{{ treedata.refUnix }}">Download</a></div>
      <div><a href="{{ treedata.screenshotUrl }}"><img src="{{ treedata.screenshotUrl }}" width="160" height="120"></img></div>
    </div>
  </div>
</article>
