[Unit]
Description=rpm-ostree Automatic Update
Documentation=man:rpm-ostree(1) man:rpm-ostreed.conf(5)
ConditionPathExists=/run/ostree-booted

[Service]
Type=simple
Nice=10
ExecStart=rpm-ostree upgrade --quiet --trigger-automatic-update-policy
