[Unit]
Description=Weekly rpm-ostree Count Me timer
Documentation=man:rpm-ostree-countme.timer(8)
ConditionPathExists=/run/ostree-booted

[Timer]
# Trigger weekly with a random delay
OnCalendar=weekly UTC
AccuracySec=1s
RandomizedDelaySec=1w
OnBootSec=5m
Persistent=yes

[Install]
WantedBy=timers.target
