[Unit]
Description=Weekly rpm-ostree Count Me timer
Documentation=man:rpm-ostree-countme.timer(8)
ConditionPathExists=/run/ostree-booted

[Timer]
# Trigger shortly after boot and bi-weekly with a random delay of one day
OnBootSec=5m
OnUnitInactiveSec=3d
AccuracySec=1h
RandomizedDelaySec=1d

[Install]
WantedBy=timers.target
