<article>
  <h3>Current build status</h3>
  <p>The contents of these trees is defined by
    the <a href="https://github.com/cgwalters/fedora-atomic/blob/master/products.json">products.json</a>
    file.</p>
  <ul class="list-group">
    <li ng-repeat="(ref, treedata) in trees" class="list-group-item">
      <div class="media">
	<a class="pull-left" href="{{ treedata.screenshotUrl }}"><img src="{{ treedata.screenshotUrl }}" width="160" height="120"></img></a>
	<div class="media-body">
	  <h4 class="media-heading">{{ ref }}</h4>
	  <p>
	    Description: {{ treedata.comment }}
	  </p>
	  <p>
	    Packages: {{ treedata.packages }}
	  </p>
	</div>
      </div>
    </li>
  </ul>
</article>
