<article>
  <h3>Log for {{ revision }}</h3>
  <ul class="list-group">
    <li ng-repeat="commit in commits" class="list-group-item">
      <p>{{ commit.revision }} created at {{ commit.formattedDate }} <a class="btn btn-default" href="#/repoweb/commit/{{ commit.revision }}">Details &raquo;</a></p>
      <p ng-if="commit.parent">Parent: <a href="#/repoweb/log/{{ commit.parent }}">{{ commit.parent }}</a></p>
      <p ng-if="!commit.parent">(No parent)</p>
      <p ng-if="commit.diffstats">
	{{ commit.diffstats.added }} files added, {{ commit.diffstats.removed }} removed, {{ commit.diffstats.modified }} modified
      </p>
    </li>
  </ul>
</article>
