<article>
  <h3>Commit {{ revision }}</h3>
  <dl class="dl-horizontal">
    <dt>Revision</dt>
    <dd>{{ commit.revision }}</dd>
    <dt>Parent</dt>
    <dd>{{ commit.parent || "No parent" }}</dd>
    <dt>Timestamp</dt>
    <dd>{{ commit.formattedDate }}</dd>
    <dt>Files added</dt>
    <dd>{{ commit.diffstats.added }}</dd>
    <dt>Files Removed</dt>
    <dd>{{ commit.diffstats.removed }}</dd>
    <dt>Files Modified</dt>
    <dd>{{ commit.diffstats.modified }}</dd>
  </dl>
  <hr>
  <h3>Diff text</h3>
  <div class="row">
    <pre>
      {{ commit.difftxt }}
    </pre>
  </div>
</article>
